*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}

.header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top right , rgba(125, 125, 125, 0.865), rgb(112, 83, 83));
    align-items: center;
}


.header__logo {
    margin-left: 100px;
}


.header__logo-img {
    width: 100px;
    height: 100px;
}


.header__nav {
    display: flex;
    align-items: center;

}


.header__nav-link {
    font-size: 30px;
    color: aliceblue;
    margin-left: 100px;


}

.header__nav-link:first-child{
    margin-left: 0px;
}


.header__contact {
    margin: 0px 70px 0 0;

    
}


.header__contact-link {
 
}


.header__contact-img {
    width: 40px;
    height: 40px;
}


.main {
    margin: 0 150px;

}

.me{
    margin-top: 130px;
}

.me__rom {
    margin-top: 80px;
    display: flex;
    justify-content:space-between;
}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.me__rom p{
    margin-top: 150px;
    font-size: 25px;
}

.me__rom-img{
    width: 370px;
    height: 500px;
    margin-left: 250px;
}

.uslygi {
    margin-top: 120px;
}

.uslygi__viski {
display: flex;

}

.uslygi__viski-img{
    height: 350px;
    width: 250px;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 80px;
}

ul{

    margin: 50px 0 0 150px;
}

li{
    font-size: 25px;
    
}

h3{
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}

.footer {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: linear-gradient(to top right , rgba(138, 126, 126, 0.865), rgb(112, 83, 83));
}

.footer__box{
    text-align: center;
}


.footer__box p {
    font-size: 20px;

}

.work__first{
    display: flex;
    justify-content: space-between;
    
}

.work__object{
}

.work__object img{
    width: 300px;
    height: 200px;

}

.work {
    margin-top: 120px;
}


.work__object-link{
    text-align: center;
    font-size: 23px;
    
}