body {
    margin: 0;
    background-color: rgb(54, 54, 54);
    overflow: hidden;
}

.container {
    width: 100%;
    height: 640px;
    position: relative; 
}

.dvd {
    width: 200px;
    border-radius: 10%; 
    position: absolute; 
    animation-name: anim;
    animation-duration: 5s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@keyframes anim {
    0% {
        top: 0; 
        left: 0;
    }
    25% {
        top: 77%; 
        left: 30%;
    }
    50% {
        top: 40%; 
        left: 85%;
    }
    75% {
        top: 90%; 
        left: 50%;
    }
    100% {
        top: 0; 
        left: 0; 
    }
}